@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

@import "../sass/bootstrap/bootstrap.scss";
@import "../sass/fontawesome/scss/font-awesome.scss";

// Default web variables

$yellow: #f8e514;
$alternate-cyan: #31d4e7;
$alternate-red: #e73142;
$alternate-purple: #5f5364;

$grey: #282528;
$light-grey: #bdbdbe;
$dark-grey: #282528;
$medium-grey: #646464;
$thin-grey: #fafafa;

$default-spacing: 80px;

@import "owl_slider";

// Mixins

@mixin transition(){
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -ms-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;

}

// Reset input placeholder

::-webkit-input-placeholder {
    color: $light-grey;
}
::-moz-placeholder {
    color: $light-grey;
}
:-ms-input-placeholder {
    color: $light-grey;
}
input:-moz-placeholder {
    color: $light-grey;
}

input,
textarea {
    border: 0;
    box-shadow: 0;
    outline: none;
    border-bottom: 1px solid $light-grey;
    min-height: 50px;
    height: 50px;
    margin-bottom: 30px;
    resize: none;
}
// Reset MironC style

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

// Typo

body {
    font: 500 13px/1.5em 'Open Sans', sans-serif;
    color: $grey;
}

a {
    color: $grey;
    @include transition();
    text-decoration: none;
    display: inline-block;
    &:hover {
        color: $dark-grey;
    }
}


h1 {
    font-size: 42px;
    font-weight: 400;
}
h2 {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark-grey;
}
h3 {
    font-size: 22px;
    font-weight: 600;
}
h4 {
    font-size: 18px;
    line-height: 2em;
    font-weight: 300;
}
h5 {
    font-size: 16px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
}
// Heading

.special-heading {

    opacity:0;
    @include transition();
    padding: $default-spacing 0;
    display: block;
    .additional-info {
        padding: 0 $default-spacing;
    }
    .heading {
        &.testimonial {
            font-family: Georgia, serif;
            font-size: 220px;
            color: $light-grey;
            line-height: 0;
            padding-top: $default-spacing;
        }
        position: relative;
        display: inline-block;
        margin-bottom: $default-spacing;
        &:before,
        &:after {
            content: '';
            width: $default-spacing;
            height: 1px;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: $light-grey;
        }
        &:before {
            left: calc(100% + 30px);
        }
        &:after {
            right: calc(100% + 30px);
        }
    }
}

// Custom Buttons

.btn-inverted {
    border-radius: 0;
    border-width: .2em;
    margin-right: 10px;
    &.btn-lg {
        padding: 20px 25px;
        font-size: 22px;
        font-weight: 500;
        i {
            font-size: 1.2em;
            margin-right: .5em;
        }
    }
    @include transition();

    &:hover {
        background: $grey;
        color: $yellow;
    }
}

// Header background and overlay

header {
    background: url('../images/hero_bg.png') 0 0 no-repeat;
    background-size: cover;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $yellow;
        z-index: -1;
    }
}

// Navigation

.top-navigation {
    padding-top: 40px;
    .navbar {
        box-shadow: 0 2px 4px rgba(0,0,0,.22);
    }
}
.navbar-nav a {
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-nav > a {
    color: $dark-grey;
}
.logo {
    padding: 0;
    line-height: 90px;
    margin-left: 30px;
}
.fullWidth {
  left: 0;
  right: 0;
  width: 100%;
}
// fixed position
.stuck {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: inherit;
}

// Hero

.hero {
    margin-top: $default-spacing*2;
    .hero-details {
        padding-top: $default-spacing;
    }
    ul {
        margin: $default-spacing/2 0 $default-spacing;
        list-style: none;
        li {
            font-size: 18px;
            font-weight: 300;
            line-height: 36px;
            overflow: hidden;
            span {
                font-size: 36px;
                margin-right: 15px;
            }
            span,p {
                float: left;
            }
        }
    }
}

// Feature section

.feature-detail {
    margin-top: 40px;
    padding: 10px 0;
    @include transition();
    span {
        display: block;
        float: left;
        font-size: 40px;
        color: $light-grey;
        width: 70px;
        text-align: center;
        @include transition();
    }
    h5,p {
        margin-left: 80px;
    }
    &:hover {
        background: lighten($yellow, 40%);
        span {
            color: $dark-grey
        }
    }
}

// Gallery

.gallery {
    background: $thin-grey;
    padding-bottom: $default-spacing;
    ul {
        text-align: center;
    }
    .item {
        margin: 0 20px;
        text-align: center;
    }
    .opac {
        opacity: .3;
    }
}


// Showreel

.showreel {
    background: $yellow;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    padding: $default-spacing*4 0;
    .branded-showreel {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    a {
        font-weight: 300;
        line-height: 62px;
        display: inline-block;
    }
    p {
        float: left;
        font-size: 28px;
        letter-spacing: .5em;
    }
    span {
        color: #fff;
        font-size: 62px;
        float: left;
        width: 70px;
        text-align: center;
        display: block;
    }

}

// About
.about {
    background: $thin-grey;
    padding-bottom: $default-spacing*2;
}
.peeps {
    li {
        &:hover figcaption {
            opacity: 1;
        }
    }
    figure{
        background: lighten($light-grey, 15%);
        height: 286px;
        position: relative;
        figcaption {
            padding: 30px;
            background: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            @include transition();
            text-align: center;
            opacity: 0;
        }
    }
}
.lower-heading {
    margin-bottom: 0;
    & + p {
        color: $medium-grey;
    }
}
.social-buttons {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    li {
        background: rgba(255,255,255,.3);
        padding: 0;
        a {
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 24px;
            text-align: center;
            color: white;
            display: block;
            &:hover {
                background: rgba(255,255,255,.35)
            }
        }
    }
}

// Testimonial

.testimonials {
    padding-bottom: $default-spacing*2;
}
.testimonial-meta {
    padding: 0;
}
.image-holder {
    display: inline-block;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid $yellow;
    background: transparent;
}


// Featured on

.featured-in {
    background: $yellow;
    padding-bottom: $default-spacing*2;
    margin: 0;
    ul {
        text-align: center;
    }
    li {
        margin-top: $default-spacing;
        a {
            opacity: .8;
            height: 100px;
            line-height: 100px;
            padding: 0 30px;
            display: block;
            text-align: center;
            @include transition();
            border: 2px solid transparent;
            &:hover {
                border: 2px solid #fff;
                opacity: 1;
            }
        }
    }
}

// Contact

.contact {
    padding: 0;
    overflow: hidden;
    .contact-content {
      padding: $default-spacing 0;
      position: relative;
    }
    h3 {
        font-size: 24px;
        font-weight: 500px;
        margin: 60px 0 30px;
    }
    .form-action a {
        text-decoration: none;
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        span {
            display: block;
            float: left;
            margin-right: 20px;
            font-size: 42px;
            line-height: inherit;
        }
    }
    .contact-image {
        position: absolute;
        right: 0;
        bottom: -30%;
    }
}
.social-profiles {
    list-style: none;
    margin: 120px 0 0 0;
    li {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        display: inline-block;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        color: $light-grey;
        font-size: 26px;
        &:hover {
            color: $medium-grey;
        }
    }
}

footer {
  padding: $default-spacing 0;
  border-top: 5px solid $yellow;
  color: $medium-grey;
  img {
    margin-bottom: 10px;
  }
  h4 {
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    margin-bottom: 15px;
  }
  .explore-list {
    li {
      float: left;
      width: 50%;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: $grey;
    }
  }
  .copyrights {
    i {
      color: $alternate-red;
    }
  }
  p.about-footer {
    color: $light-grey;
  }
}

// Github ribbon
.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1100;
  width: 149px;
  height: 149px;
  display: block;
}


@media (max-width: $screen-sm) {
    .github-ribbon {
        display: none;
    }
  .main-navigation {
    float: none;
    width: 100%;
    text-align: center;
  }
  .special-heading .additional-info {
    padding: 0 $default-spacing/4;
  }
  .hero .btn-inverted {
    @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small);
  }
}
@media (max-width: $screen-lg) {
  .hero-details {
    padding-bottom: $default-spacing/2;
  }
}
@media (max-width: $screen-md) {

    .hero img,
    .features img,
    .contact-image img {
        display: none;
    }
}
